.formControl {
  position: absolute;
  top: 20px;
  left: 2px;
  letter-spacing: 0.1px;
  line-height: 24px;
  font-family: var(--font-vollkorn);
  color: var(--text-color);
}
.email {
  position: absolute;
  top: calc(50% - 14px);
  left: 21px;
  letter-spacing: 0.2px;
  line-height: 28px;
}
.inputformControl {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-8xs);
  background-color: var(--color-whitesmoke-100);
  border: 1px solid var(--color-gainsboro-100);
  box-sizing: border-box;
  overflow: hidden;
}
.formControlInputStyle1 {
  position: absolute;
  top: 44px;
  left: 0;
  width: 452px;
  height: 64px;
  overflow: hidden;
  font-size: var(--h4-size);
}
.formText {
  position: absolute;
  top: 124px;
  left: 2px;
  font-size: var(--font-size-xs);
  letter-spacing: 0.2px;
  line-height: 28px;
}
.property1defaultLgtrue {
  position: absolute;
  top: 24px;
  left: 563px;
  width: 452px;
  height: 152px;
  text-align: left;
  font-size: var(--title-size);
  color: var(--second-text-color);
  font-family: var(--btn-text);
}
