.formControl {
  position: absolute;
  top: 0;
  left: 0;
  letter-spacing: 0.1px;
  line-height: 24px;
  color: var(--text-color);
}
.yourMessage {
  position: absolute;
  top: calc(50% - 74px);
  left: 21px;
  letter-spacing: 0.2px;
  line-height: 28px;
}
.formControlInputStyle1 {
  position: absolute;
  width: 100%;
  top: 40px;
  right: 0;
  left: 0;
  border-radius: var(--br-8xs);
  background-color: var(--color-whitesmoke-100);
  border: 1px solid var(--color-gainsboro-100);
  box-sizing: border-box;
  height: 54px;
  overflow: hidden;
  font-size: var(--btn-text-size);
}
.formText {
  position: absolute;
  top: 218px;
  left: 0;
  font-size: var(--font-size-xs);
  letter-spacing: 0.2px;
  line-height: 28px;
}
.property1teaxtareaLgfalse {
  position: absolute;
  top: 159px;
  left: 35px;
  width: 459px;
  height: 121px;
  text-align: left;
  font-size: var(--title-size);
  color: var(--second-text-color);
  font-family: var(--btn-text);
}
