.chatWithUs {
  position: relative;
  line-height: 24px;
  text-transform: uppercase;
}
.sizesStateprimaryIconno {
  background-color: var(--color-black);
  backdrop-filter: blur(4px);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 8px 30px;
  text-align: left;
  font-size: 16px;
  color: var(--grayscale-off-white);
  font-family: var(--font-tenor-sans);
}
