.btnText {
  position: relative;
  letter-spacing: 0.2px;
  line-height: 22px;
}
.texttrueIconfalseRounded {
  border-radius: var(--br-8xs);
  background-color: var(--primary-color);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-mini) var(--padding-21xl);
  text-align: center;
  font-size: var(--btn-text-size);
  color: var(--light-text-color);
  font-family: var(--btn-text);
}
