@import url("https://fonts.googleapis.com/css2?family=Vollkorn:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Tenor+Sans:wght@400&display=swap");
body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --font-tenor-sans: "Tenor Sans";
  --font-vollkorn: Vollkorn;

  /* font sizes */
  --font-size-3xs-8: 9.8px;
  --font-size-3xl-6: 22.6px;
  --font-size-5xs-5: 7.5px;

  /* Colors */
  --color-darkslategray: #333;
  --color-white: #fff;
  --color-black: #000;
  --color-teal: #23856d;
  --grayscale-off-white: rgba(188, 163, 127, 0.01);

  /* Paddings */
  --padding-9xs-8: 3.8px;
  --padding-mini-1: 14.1px;

  /* Border radiuses */
  --br-4xs-7: 8.7px;
}
